/*----------NAV----------- */
.container_nav{
    background-color: #2C3E50;
}
.nav-item a{
    font-size: 12px;
}
/*---------END NAV---------*/
/*---------JUMBOTROON-------*/
.jumbotroon{
    background-color: #1ABC9C;
    height: 400px;
    width: 100%;
}
.image img{

   text-align: center;
   justify-content: center;
}
/*-------PORTFOLIO------ */
.title{
    width: 100%;
}
.immagine, .immagine img{
    width: 100%;
    border-radius: 20px;
}
/*----------ABOUT-----------*/
.about  {
    background-color:#1ABC9C;
    height: 300px;
    width: 100%;
}
.contact{
    background-color: tomato;
    height: 600PX;
    width: 100%;;
}

/*-----BUTTON-----*/
.form-control{
    border: 0;
    border-bottom: 1px solid #ced4da;
}
/*--------FOOTER--------*/
.footer{
    background-color:#3A546D;
    overflow-x: hidden;
}
.coopyright{
    height: 100px;
    background-color: #2C3E50;
    color: white;
    line-height: 100px;
}
