/*----------NAV----------- */
.container_nav{
    background-color: #2C3E50;
}
.nav-item a{
    font-size: 12px;
}
/*---------END NAV---------*/
/*---------JUMBOTROON-------*/
#jumbotroon{
    background-color: #1ABC9C;
    min-height: 600px;
    width: 100%;
    color: white;
}
#jumbotroon h4{
    padding-top: 20px;
    color
}
.image h1{
    text-align: center;
}

.image img{
   width: 20%;
   height:20%;
   text-align: center;
   justify-content: center;
}
/*-------PORTFOLIO------ */
.title{
    width: 100%;
}
.immagine, .immagine img{
    width: 100%;
    border-radius: 20px;
}
/*----------ABOUT-----------*/
.about  {
    background-color:#1ABC9C;
    height: 300px;
    width: 100%;
}
.contact{
    background-color:white;
    height: 600PX;
    width: 100%;;
}

/*-----BUTTON-----*/
.form-control{
    border: 0;
    border-bottom: 1px solid #ced4da;
}
/*--------FOOTER--------*/
.footer{
    background-color:#3A546D;
    overflow-x: hidden;
}
.coopyright{
    height: 100px;
    background-color: #2C3E50;
    color: white;
    line-height: 100px;
}
.progress{
    background-color:white;
    width: 5vw;
    min-width: 60px;
    height: 3px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    
}
.bar{
    height:30px;
    line-height: 30px;
}
