/*----------NAV----------- */
.container_nav{
    background-color: #2C3E50;
}
.nav-item a{
    font-size: 12px;
}
/*---------END NAV---------*/
/*---------JUMBOTROON-------*/
.jumbotroon{
    background-color: #1ABC9C;
    height: 400px;
    width: 100%;
}
.image img{

   text-align: center;
   justify-content: center;
}
/*-------PORTFOLIO------ */
.title{
    width: 100%;
}
.immagine, .immagine img{
    width: 100%;
    border-radius: 20px;
}
/*----------ABOUT-----------*/
.about, .contact {
    background-color:white;
    height: 200px;
    width: 100%;
}
